PORT=0000
JWT_SECRET=replace-this-with-a-long-random-string
JWT_EXPIRES_IN=1h
MONGO_URI=mongodb://<db_user>:<db_password>@ac-2nsag6n-shard-00-00.r8ddslf.mongodb.net:27017,ac-2nsag6n-shard-00-01.r8ddslf.mongodb.net:27017,ac-2nsag6n-shard-00-02.r8ddslf.mongodb.net:27017/?ssl=true&replicaSet=atlas-10yyee-shard-0&authSource=admin&appName=Cluster0
        